@page "/posts/making-a-blog/5-adding-comments"
@inherits PrismCodeBlockRenderer

<MudText Typo="Typo.h4" Color="Color.Secondary">Making a blog with C# - Part 5</MudText>
<MudText Typo="Typo.h2">Adding Comments</MudText>
<MudDivider DividerType="DividerType.FullWidth"></MudDivider>

<MudText Class="mt-6">
    I decided on using <MudLink Href="https://giscus.app/" Target="_blank">Giscus</MudLink> as my commenting system, as it seemed the simplest and easiest to set up.
    <br />
    
    To set up Giscus, there are a few prerequisites: 
    
    <ul>
        <li>A public GitHub repository. You can think of this as the storage for your comments.</li>
        <li>The <MudLink Href="https://github.com/apps/giscus" Target="_blank">Giscus</MudLink> app must be installed in your repository.</li>
        <li>The Discussions feature must be turned on by 
            <MudLink Href="https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/enabling-or-disabling-github-discussions-for-a-repository" Target="_blank">
                enabling it in your repository.

            </MudLink> 
            It is not enabled by default.
            </li>
    </ul>
    
    <br />
    Adding it to a Blazor website isn't as straight forward as following the guide though, 
    and after a lot of head-scratching, 
    <MudLink Href="https://github.com/giscus/giscus/issues/740" Target="_blank">
        I made an issue
    </MudLink>
    on the Giscus issue tracker asking for help. They quickly answered and got me back on track.
</MudText>

<MudText Typo="Typo.h4" Color="Color.Secondary" Class="mt-6 mb-2">GiscusBlazor</MudText>

<MudText Typo="Typo.body1" Color="Color.Inherit">
    There's a Giscus Blazor component!
    <br />
    <MudLink Href="https://github.com/Jisu-Woniu/giscus-blazor" Target="_blank">
        https://github.com/Jisu-Woniu/giscus-blazor
    </MudLink>
    <br />
    To set it up, start by adding the nuget <code>GiscusBlazor</code>:
</MudText>
@(@"
```shell
dotnet add package GiscusBlazor
```
".ToHtml())
<MudText>
    Then import the required script in your <code>_Layout.cshtml</code>:
</MudText>
@(@"
```cshtml
<script type=""module"" src=""https://cdn.esm.sh/giscus?bundle""></script>
```
".ToHtml())

<MudText Typo="Typo.body1" Color="Color.Inherit">
    Lastly, in order to add the comment area to your page, add this:
</MudText>

@(@"
```cshtml
<Giscus Repo=""[ENTER REPO HERE]""
    RepoId=""[ENTER REPO ID HERE]""
    Category=""[ENTER CATEGORY NAME HERE]""
    CategoryId=""[ENTER CATEGORY ID HERE]""
    Mapping=""Mapping.Specific""
    Term=""[ENTER TERM HERE]""
    ReactionsEnabled=""true""
    EmitMetadata=""false""
    InputPosition=""InputPosition.Bottom""
    Theme=""light""
    Lang=""en""
    Loading=""Loading.Lazy"" />
```
".ToHtml())

<MudText Typo="Typo.body1" Color="Color.Inherit">
    The required values can easily be configured using the Configuration section on 
    <MudLink Href="https://giscus.app/" Target="_blank">
        https://giscus.app/
    </MudLink>.
    <br />
    In my case, it looked like this:
</MudText>

@(@"
```cshtml
@using GiscusBlazor
<Giscus Repo=""NielsPilgaard/Pilgaard.Blog""
    RepoId=""R_kgDOIHUfWQ""
    Category=""Announcements""
    CategoryId=""DIC_kwDOIHUfWc4CSFPf""
    Mapping=""Mapping.PathName""
    Term=""Welcome to giscus-blazor!"" # No idea what this does
    ReactionsEnabled=""true""
    EmitMetadata=""false""
    InputPosition=""InputPosition.Top""
    Theme=""preferred_color_scheme""
    Lang=""en""
    Loading=""Loading.Lazy"" />
```
".ToHtml())

<MudText Typo="Typo.h4" Color="Color.Secondary" Class="mt-6 mb-2">Styling</MudText>
<MudText>
    To pretty up the comment section I added this bit to my <code>site.css</code>:
</MudText>

@(@"
```css
.giscus-frame {
    margin-top: 24px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 600px) {
    .giscus-frame {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 12px;
        }
    }
}
```
".ToHtml())

<MudText Typo="Typo.h4" Color="Color.Secondary" Class="mt-6 mb-2">Summary</MudText>
<MudText>
    We learned how to add a comment area to a page using 
    <MudLink Href="https://giscus.app/" Target="_blank">Giscus</MudLink>
    and 
    <MudLink Href="https://github.com/Jisu-Woniu/giscus-blazor" Target="_blank">GiscusBlazor</MudLink>, by leveraging the GitHub Discussions API.
    <br />
    Now that it's possible, I hope you'll leave a comment or reaction below 😄
    </MudText>


<GiscusComponent />